.about {
  margin-left: 30px;
  max-width: 1140px;
  height: 462px;
}

.about__table {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
  }
  
  .about__table-block {
    width: 550px;
  }
  
  .about__table-title {
    margin: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #000;
  }
  
  .about__table-text {
    margin-top: 27px;
    max-width: 531px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.04em;
    color: #000;
  
  }
  
  .about__string {
    margin-top: 81px;
    display: flex;
    justify-content: space-between;
  }
  .about__string-left {
    width: 20%;
  }
  
  .about__string-black {
    width: 100%;
    height: 36px;
    background: #000;
  }
  
  .about__string-blacktext {
    padding-top: 9px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fff;
  }
  
  .about__string-back {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
  }
  
  .about__string-right {
    width: 80%;
  }
  
  .about__string-grey{
    width: 100%;
    height: 36px;
    background: #F2F2F2;
  }
  
  .about__string-graytext {
    padding-top: 9px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000;
  }
  

  @media screen and (max-width: 768px) {

    .about {
      max-width: 728px;
      height: 467px;
      margin-left: 50px;
      margin-right: 50px;
    }
    .about__table-block {
      width: 302px;
    }

    .about__string {
      margin-top: 74px;
    }

    .about__string-left {
      width: 22%;
  }
  .about__string-right {
    width: 78%;
}
    .about__table-text {
      margin-top: 21px;
      margin-bottom:0;
  }
  }

  @media screen and (max-width: 575px) {

    .about__table {
      margin-top: 70px;
      flex-wrap: wrap;
      flex-direction: column;
    }  

    .about__table-block {
      width: 217px;
  }

    .about {
      height: 658px;
    }
  
    .about__table-title {
      font-size: 18px;
      line-height: 22px;
    }

    .about__table-text {
      font-size: 11px;
      line-height: 16px;
    }
  }

  @media screen and (max-width: 435px) {
    .about{
      margin-left: 13px;
      margin-right: 13px;
      height: 489px;
    }
    .about__table {
      margin-top: 0px;
  } 

  .about__table-text{
    margin-top: 12px;
  }
  .about__table-title {
    margin-top: 47px;
  }

  .about__string {
    margin-top: 37px;
}
    .about__string-blacktext {
      padding-top: 11px;
      font-size: 11px;
      line-height: 13px;
    }
    .about__string-left {
      width: 40%;
      height: 259px;
    }
    .about__string-right {
      width: 60%;
      height: 259px;
    }
  .about__string-graytext {
    padding-top: 11px;
    font-size: 11px;
    line-height: 13px;
  }
  .about__string-back {
    font-size: 11px;
    line-height: 13px;
  }
  }