.navtab {
    margin: 151px auto;
    max-width: 308px;
    display: flex;
    justify-content: space-between;
  }
  
  .navtab__link {
    border: 0;
    padding: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    width: 96px;
    height: 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    text-decoration-line: none;
    transition: opacity .4s ease-out;
    background: #E8E8E8;
    border-radius: 10px;
    cursor: pointer;
  }
  

  @media screen and (max-width: 768px) {

    .navtab {
      margin: 314px auto;
    }
  
  }

  @media screen and (max-width: 585px) {
    .navtab {
      margin: 188px auto 17px;
    }

  }

  @media screen and (max-width: 435px) {
    .navtab {
      margin: 189px auto 17px;
      max-width: 252px;
    }
    .navtab__link {

      width: 82px;
      height: 26px;
      font-size: 10px;
      line-height: 16px;

    }
  }
